/* Navbar */
.navbar-toggler-icon {
  background-color: rgba(0, 0, 0, 0.904);
  border-radius: 10px;
}

/* Hero Section */
.hero_title {
  font-size: 4.5rem;
  color: rgba(0, 0, 0, 0.904);
}

.hero_desc {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.726);
  font-weight: 600;
}

.hero-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin: 20em 0;
}

/* About Section */
.imageAboutPage {
  width: 100%;
}

.imageHome {
  height: 20em;
  width: 20em;
  transform: rotate(-55deg);
  box-shadow: rgba(0, 0, 0, 0.884) -1px 0px 3px 3px;
  margin: 15em 0;
}

@media (max-width: 576px) {
  .imageHome {
    display: none;
  }
}

.myLink {
  text-decoration: none;
  margin: 0 10px;
  font-weight: 700;
  color: white;
}

#about {
  font-weight: 600;
}

.AboutContainer {
  margin-left: 2em;
  box-shadow: black 0px 0px 7px 2px;
  background-color: transparent;
}

/* Services Section */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}

.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card {
  border: 3px solid black;
  border-radius: 1.2em;
  height: 25em;
  width: 20em;
}

.card:hover {
  transform: scale(1.02);
  box-shadow: black 0px 0px 3px 3px;
  border: 2px solid rgb(105, 9, 105);
}

.card-img-top {
  height: 10em;
  width: 100%;
  border-bottom: 3px solid black;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}
.GithubButton {
  text-decoration: none;
  color: #b910a6;
  font-size: large;
  font-weight: 700;
}
.card-text {
  height: 7.5em;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-body {
  background-image: linear-gradient(
    to right bottom,
    #f8f9f9,
    #d3e8ed,
    #b0d6e7,
    #95c1e3,
    #85abde
  );
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}

.card-title {
  text-align: center;
}

.card:hover .servicesIcon {
  color: #008000;
}

.servicesText:hover {
  border: 1px solid #008000;
}

/* Navbar Scroll */
.navbar-scroll {
  color: white;
  background-color: black;
}

.contact {
  margin-right: 10em;
}

.text-black {
  color: rgba(0, 0, 0, 0.904) !important;
}

.text-white {
  color: rgba(0, 0, 0, 0.904) !important;
}

.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
  color: #008000;
}

.fab {
  color: rgba(0, 0, 0, 0.904);
}

/* Footer */
#footer {
  background-color: rgba(0, 0, 0, 0.904);
  text-align: center;
}

/* Spacing on all Sections */
#about,
#services,
#portfolio,
#contact {
  margin-top: 4rem;
  padding-top: 4rem;
}

#contact {
  padding-bottom: 4rem;
}

/* Fade Animations */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

/* General Styling */
body {
  background-image: linear-gradient(
    to right bottom,
    #f8f9f9,
    #d3e8ed,
    #b0d6e7,
    #95c1e3,
    #85abde
  );
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  overflow-x: hidden;
}

.Title {
  color: rgba(0, 0, 0, 0.904) !important;
}

h4 {
  display: inline-block;
}

.loghi {
  height: 3em;
  width: 3em;
  margin: 2em 20px;
}

.MyButton {
  background-color: rgba(0, 0, 0, 0.904) !important;
}

.ExperienceButton {
  background-color: rgb(231, 16, 231);
  border: 1px solid black;
  box-shadow: black 2px 2px 5px 3px;
  margin-bottom: 20px;
}

.ExperienceButton:hover {
  transform: scale(1.05);
  background-color: rgb(231, 16, 231);
  border: 1px solid black;
  box-shadow: black 2px 2px 5px 3px;
}

.contacts {
  font-size: 2em;
}

.ContactsButton {
  background-color: rgba(0, 0, 0, 0.904);
  border: 1px solid black;
  box-shadow: black 2px 2px 5px 3px;
  margin: 2em 0;
}

.ContactsButton:hover {
  transform: scale(1.05);
  background-color: rgba(0, 0, 0, 0.904);
  border: 1px solid black;
  box-shadow: black 2px 2px 5px 3px;
}

.myLinks {
  color: black;
  text-decoration: none;
  font-size: large;
  font-weight: 700;
}

.documents {
  text-decoration: none;
  color: #b910a6;
}

.documents:hover {
  color: #d312bc;
}
@media (max-width: 768px) {
  .hideOnTablet {
    display: none;
  }
}
