/* text css above hero image*/
#home {
  margin: 15em 0;
}
.navbar-toggler-icon {
  background-color: rgb(231, 16, 231);
  border-radius: 10px;
}
.hero_title {
  font-size: 4.5rem;
  color: rgb(231, 16, 231);
}
.hero_desc {
  font-size: 2rem;
  color: rgba(175, 42, 175, 0.822);
  font-weight: 600;
}
.hero-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
/* about section image css */
.imageAboutPage {
  width: 100%;
}
.imageHome {
  height: 20em;
  width: 20em;
  transform: rotate(-55deg);
  box-shadow: rgba(0, 0, 0, 0.884) -2px -2px 10px 10px;
}

.myLink {
  text-decoration: none;
  margin: 0 10px;
  font-weight: 700;
  color: rgba(175, 42, 175, 0.822);
}

#about {
  font-weight: 600;
}
.AboutContainer {
  margin-left: 2em;
  box-shadow: white 0px 0px 7px 2px;
}
/* services section css */
.servicesText.card {
  height: 280px;
  cursor: pointer;
}
.servicesIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}
.card-body {
  background-color: rgba(0, 0, 0, 0.863);
}
.card-title {
  text-align: center;
}
.card:hover .servicesIcon {
  color: #008000;
}
.servicesText:hover {
  border: 1px solid #008000;
}

.navbar-scroll {
  color: white;
  background-color: rgba(0, 0, 0, 0.801);
}
.contact {
  margin-right: 10em;
}
.text-black {
  color: rgb(231, 16, 231) !important;
}

.text-white {
  color: rgb(231, 16, 231) !important;
}

.social-icons {
  font-size: 36px;
  cursor: pointer;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
  color: #008000;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}
/* spacing on all sections */
#about,
#services,
#portfolio,
#contact {
  margin-top: 4rem;
  padding-top: 4rem;
}
#contact {
  padding-bottom: 4rem;
}

/* Definizione delle animazioni di fade */
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.myCarouselImages {
  height: 20em;
  width: 90%;
  margin: 0 auto;
}
.carousel-indicators {
  background-color: transparent;
  color: transparent;
}

.carousel-control-next {
  background-color: transparent;
}
.carousel-control-prev {
  background-color: transparent !important;
}
body {
  background-color: rgba(0, 0, 0, 0.863);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.Title {
  color: rgb(231, 16, 231) !important;
}

h4 {
  display: inline-block;
}
.loghi {
  height: 4em;
  width: 6em;
  margin-bottom: 2em;
}
.MyButton {
  background-color: rgb(231, 16, 231) !important;
}
